<script> 
	$(document).ready(function() { 
    	$('#form-1').ajaxForm(function() { 
        	document.getElementById('form-2').submit();
		}); 
	}); 
</script> 


<li>
  
  <% if current_user.followings.where(idu: user.id ).exists? %> 
    <p> <h3> <%= link_to user.name, user %>  </h3>
	  <%= button_to "Unfollow", {:controller => :followings, :action => 'destroy', :id => user.id}, :method => :delete %> </p>
  <% else %>
 <p> <h3> <%= user.name %> </h3>
  
   <%= form_for [current_user, Following.new], :html => { :id => "form-1" } do |f| %>  
      <% if current_user.id != user.id %>
          <%= f.hidden_field  :idu, :value => user.id  %>
         <%= f.hidden_field :name, :value => user.name  %>  
                   <%= f.submit Seguir%> </p>  
         
      <% end %>
  <% end %>
  <%=  form_for  [user, Follower.new], :html => { :id => "form-2" } do |h| %>  
      <% if current_user.id != user.id %>
         <p> <%= h.hidden_field  :idu, :value => current_user.id  %></p>
         <p> <%= h.hidden_field :name, :value => current_user.name  %></p>  
      <% end %>
  <% end %>
  <% if current_user.admin? %>
	<%= button_to 'Destroy',user , confirm: 'Are you sure?', method: :delete %>
  <% end %>
<% end %>

</li>

