<h3>User Profile</h3>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
<% if current_user.followings.where(id: @user.uid ) %> 
	<p> Lo estas siguiendo </p>
<% else %>
<%= form_for [current_user, Following.new] do |f| %>  
      <% if current_user.id != @user.id %>
         <p> <%= f.hidden_field :name, :value => @user.name  %></p>  
         <p><%= f.submit %></p>  
      <% end %>
  <% end %>
<% end %>