<script> 
        // wait for the DOM to be loaded 
        $(document).ready(function() { 
            // bind 'myForm' and provide a simple callback function 
            $('#form-2').ajaxForm(function() { 
            	document.getElementById('form-1').submit();
}); 
        }); 
    </script> 

<h3>User Profile</h3>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>
  <% if current_user.followings.where(idu: @user.id ).exists? %> 
	  <%= button_to "Unfollow", {:controller => :followings, :action => 'destroy', :id => @user.id}, :method => :delete %> 
<% else %>
<%= form_for [current_user, Following.new], :html => { :id => "form-1" } do |f| %>  
      <% if current_user.id != @user.id %>
         <p> <%= f.hidden_field  :idu, :value => @user.id  %></p>
         <p> <%= f.hidden_field :name, :value => @user.name  %></p>  
      <% end %>
  <% end %>
  
  <%=  form_for  [@user, Follower.new], :html => { :id => "form-2" } do |h| %>  
      <% if current_user.id != @user.id %>
         <p> <%= h.hidden_field  :idu, :value => current_user.id  %></p>
         <p> <%= h.hidden_field :name, :value => current_user.name  %></p>  
         <p> <%= h.submit Seguir%> </p>  
      <% end %>
  <% end %>
<% end %>

<div class="row-fluid">
	   <div class="span4 offset2">
	   		<h2> Series seguidas de <%= @user.name %> </h2> 
		</div>
	</div>
		

	<% @user.seguirs.each do |seguirp| %>
	    <% serie = Series.find (id = seguirp.idp) %>
			<br>
			<br>
   			<div class="row-fluid" id="peli_list">
        		<div class="span1 offset2">
   					<img id="caratula" src="<%= serie.caratula %>" alt="Caratula Pelicula" height="100" width="100">
      			</div>
      			<div class="span3">
   					<h2><%= link_to serie.nombre, serie %></h2>
   					<ul>
   						<li>Sinopsis : <%= serie.sinopsis %> </li>
   						<li>Director : <a><%= serie.director %></a></li>
   					</ul>
      			</div>
	        	<div class="span2">
	    			<% if current_user.admin? %>
						<%= button_to 'Destroy', serie, confirm: 'Are you sure?', method: :delete %>
					<% end %>
	      		</div>
   			</div>
		<% end %> 
	</div>
	<br />

	<div class="row-fluid">
	   <div class="span4 offset2">
	   		<h2> Peliculas favoritas de <%= @user.name %></h2> 
		</div>
	</div>

<% @user.seguirps.each do |seguirp| %>
	    <% pelicula = Pelicula.find (id = seguirp.idp) %>
			<br>
			<br>
   			<div class="row-fluid" id="peli_list">
        		<div class="span1 offset2">
   					<img id="caratula" src="<%= pelicula.caratula %>" alt="Caratula Pelicula" height="100" width="100">
      			</div>
      			<div class="span3">
   					<h2><%= link_to pelicula.nombre, pelicula %></h2>
   					<ul>
   						<li>Saga : <%= pelicula.saga %> </li>
   						<li>Trailer : <a><%= pelicula.trailers %></a></li>
   					</ul>
      			</div>
	        	<div class="span2">
    		<% if current_user.admin? %>
    		     <%= button_to 'Destroy', pelicula, confirm: 'Are you sure?', method: :delete %>
    		<% end %> 
   			</div>
		<% end %> 
