<% if user_signed_in? %>

<div class="row-fluid">
	   <div class="span4 offset2">
	   		<h1> Series seguidas </h1> 
		</div>
	</div>
		

	<% current_user.seguirs.each do |seguirp| %>
	    <% serie = Series.find (id = seguirp.idp) %>
			<br>
			<br>
   			<div class="row-fluid" id="peli_list">
        		<div class="span1 offset2">
   					<img id="caratula" src="<%= serie.caratula %>" alt="Caratula Pelicula" height="100" width="100">
      			</div>
      			<div class="span3">
   					<h2><%= link_to serie.nombre, serie %></h2>
   					<ul>
   						<li>Sinopsis : <%= serie.sinopsis %> </li>
   						<li>Director : <a><%= serie.director %></a></li>
   					</ul>
      			</div>
	        	<div class="span2">
	      			<%= link_to 'Show', serie %>
	    			<%= link_to 'Edit', edit_series_path(serie) %>
	    			<% if current_user.admin? %>
					<%= button_to 'Destroy', serie, confirm: 'Are you sure?', method: :delete %>
					<% end %> 
					<% if current_user.seguirs.where(idp: serie.id ).exists? %> 
					<p> Ya la vistes </p>
					<%= button_to "Dejar de seguir", {:controller => :seguirs, :action => 'destroy', :id => serie.id}, class: "btn btn-danger" ,:method => :delete %> 
					<% else %>
	    				<%= form_for [current_user, Seguir.new] do |f| %>  
	    					<p> <%= f.hidden_field :idp, :value => serie.id  %></p>  
	    					<p> <%= f.hidden_field :name, :value => serie.nombre  %></p>
							<p><%= f.submit %></p>  
						<% end %>
					<% end %>
	      		</div>
   			</div>
		<% end %> 
	</div>
	<br />


<% else %>

 <div class="alert alert-error">
    <a class="close" href="/">×</a>
    <p>No tienes permisos para acceder a las <strong> Series </strong></p>
    <div class="alert-actions">
        <a class="btn small"  id="Jump" href="/">Inicia sesion</a> <a class="btn small" id="Jump" href="/terms">O con&oacutecenos antes!</a>
    </div>
  </div>

<% end %>
