<% if user_signed_in? %>
<div class="row-fluid">
	 <div class="span3 offset3">
		<h1>Listing peliculas</h1>
	</div>	
</div>
  <form class="form-search" action='search' >
  				<div class="input-append">
    				<input name="pelicula" type="text" class="span2 search-query">
    				<button type="submit" class="btn" value='Search'>Search</button>
 				</div>
			</form>



<div class="row-fluid">
	<div class="span1 offset2">
		<%= link_to 'New Pelicula', new_pelicula_path %>
	</div>	
</div>

<% @peliculas.each do |pelicula| %>
<br>
<br>
   <div class="row-fluid" id="peli_list">
  
      <div class="span1 offset2">
   		<img id="caratula" src="<%= pelicula.caratula %>" alt="Caratula Pelicula" height="100" width="100">
      </div>
      <div class="span3">
   		<h2><%= link_to pelicula.nombre, pelicula %></h2>
   		<ul>
   			<li>Saga : <%= pelicula.saga %> </li>
   			<li>Trailer : <a><%= pelicula.trailers %></a></li>
   		</ul>
      </div>
      <div class="span1">
      	<%= link_to 'Show', pelicula %>
    		<%= link_to 'Edit', edit_pelicula_path(pelicula) %>
    		<% if current_user.admin? %>
    		     <%= button_to 'Destroy', pelicula, confirm: 'Are you sure?', method: :delete %>
    		<% end %> 
    		<% if current_user.seguirps.where(idp: pelicula.id ).exists? %> 
    			<p> Ya la vistes </p>
    			<%= button_to "No favorita", {:controller => :seguirps, :action => 'destroy', :id => pelicula.id}, class: "btn btn-danger" ,:method => :delete %> 
    		<% else %>
    		<%= form_for [current_user, Seguirp.new] do |f| %>  
    			<p> <%= f.hidden_field :idp, :value => pelicula.id  %></p>  
    			<p> <%= f.hidden_field :name, :value => pelicula.nombre  %></p>
				<p><%= f.submit %></p>  
			<% end %>
		<% end %>
      
      </div>
   </div>


<% end %> 


<div class='apple_pagination'><%= will_paginate @pelis %></div> 



<br />

<% else %>

 <div class="alert alert-error"> 
   <a class="close" href="/">×</a>
   <p>No tienes permisos para acceder a las <strong> Series </strong></p>
   <div class="alert-actions">
      <a class="btn small"  id="Jump" href="/">Inicia sesion</a> <a class="btn small" id="Jump" href="/terms">O con&oacutecenos antes!</a>
  </div>
</div>
	
<% end %>
