<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show" align ="center">
	<h1><%=  @pelicula.nombre %></h1>
</div>

<div class="row-fluid">
	<div class="span4 offset1">
    	<br><img src="<%=  @pelicula.caratula %>" alt="Caratula Pelicula" height="1000" width="900" class="img-rounded">
    </div>
    <div class="span7">
    	<div class="row-fluid">
   	  	    <div class="span1">
   	  	    	<h3> Sinopsis: </h3> 
   	  	    </div>
   	  	</div>
   	  	<div class="row-fluid">
   	  	    <div class="span8 offset1">
   	  	    	<p><%= @pelicula.sinopsis %> </p>
		    </div>
   	  	 </div>
   	  	 <div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h3> Saga: </h3> 
   	  	    </div>
   	  	    <div class="span4">
   	  	    	<h3><%= @pelicula.saga %> </h3>
		    </div>
   	  	 </div> 
   	 	 <div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h3> Año: </h3> 
   	  	    </div>
   	  	    <div class="span4">
   	  	    	<h3><%= @pelicula.fecha.year %> </h3>
		    </div>
   	  	 </div> 
   	  	 
   	  	 <div id="myCollapsibleExample">
   	  	 	<a href="#more_info" data-toggle="collapse"> M&aacutes informaci&oacuten</a>
   	  	 </div>  
		 <div id="more_info" class="collapse">
		 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4>Director: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @pelicula.director %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Guionista: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @pelicula.guionista %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Productores: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @pelicula.productores %> </p>
		  	 	</div>
   	  	 	</div> 
		</div> 
	</div>
</div>

<div class="row-fluid">
	<div class="span1 offset1">
   		<h5> Trailer: </h5> 
   	</div>
</div>
<div class="row-fluid">
   	<div class="span6 offset1">
		<%= youtube_video @pelicula.trailers %>
	</div>
</div> 

<div class="row-fluid">
	<div class="span10 offset1">
		<div id="myCollapsibleExample2">
	 		<h1><a href="#more_info2" data-toggle="collapse"> Todos los Links para ver online! </a></h1>
	 	</div>
	 	<div id="more_info2" class="collapse">
			<% if @pelicula.links.size > 0 %>  
				<% for link in @pelicula.links %> 
					<% if link.online == true%> 
				    	<h5> Url: </h5>
	                	<h5> <a href="<%= link.url  %>"> <%= link.url  %></a> </h5> 
		                <div class="row-fluid">
		                	<div class="span2">
		                  		<h5>Idioma:</h5> <p><%= link.idioma %></p>
		                  	</div> 
		                  	<div class="span2">
		                  		<h5>Servidor:</h5> <p><%= link.servidor %></p> 
		                  	</div>
	                    </div>
		             <% end %>
		    	<% end %>
		    <% else %>	
		    	 <h5> ¡ An&iacutemate a añadir un Link para esta pel&aacutecula !</h5>
	        <% end %>
	   	</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<div id="myCollapsibleExample3">
	 		<h1><a href="#more_info3" data-toggle="collapse"> Todos los Links para descargarte la peli! </a></h1>
	 	</div>
	 	<div id="more_info3" class="collapse">
			<% if @pelicula.links.size > 0 %>  
				<% for link in @pelicula.links %> 
					<% if link.online == false %> 
				    	<h5> Url: </h5>
	                	<h5> <a href="<%= link.url  %>"> <%= link.url  %></a> </h5> 
		                <div class="row-fluid">
		                	<div class="span2">
		                  		<h5>Idioma:</h5> <p><%= link.idioma %></p>
		                  	</div> 
		                  	<div class="span2">
		                  		<h5>Servidor:</h5> <p><%= link.servidor %></p> 
		                  	</div>
	                 	</div>
		             <% end %>
		        <% end %>
		    <% else %>	
		    	<h5> ¡ An&iacutemate a añadir un Link para esta pel&aacutecula !</h5>
	        <% end %>
	   	</div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">
		<h4> Colabora con esta comunidad </h4>  
		<div class="span3">
	    	<div id="add_link" class="modal hide fade in" style="display: none; ">
	        	<div class="modal-header">
	            	<a class="close" data-dismiss="modal">×</a>
	               	<h3><%= @pelicula.nombre %> </h3>
	            </div>
	            <div class="modal-body">
	            	<%= form_for [@pelicula, Link.new] do |f| %>  
						<h3><%= f.label :url %><%= f.text_field :url %></h3>  
			            <h3><%= f.label :idioma %><%= f.text_field :idioma %></h3> 
			            <h3><%= f.label :servidor %><%= f.text_field :servidor %></h3>  
			            <h3><%= f.label :online %><%= f.text_field :online %></h3>   
			            <h3><%= f.submit %></h3>  
			        <% end %>  
			    </div>
	            <div class="modal-footer">
	            	<a href="#" class="btn btn-success">Call to action</a>
	                <a class="close btn" data-dismiss="modal">Salir</a>
	            </div>
	        </div>
	    	<p><a data-toggle="modal" href="#add_link" class="btn btn-primary btn-large">¡ Agrega un nuevo link !</a></p>
	   </div>
	</div>
</div>

<div class="row-fluid">
	<div class="span10 offset1">      
	    <h2>Comments</h2>
	    <% if @pelicula.comments.size > 0 %>  
	        <% for comment in @pelicula.comments %>
	            <div class="row-fluid"> 
	            	<div class="span4 offset1"> 
						<h4><%= comment.name %></h4> 
			        </div>
			    </div>
			    <div class="row-fluid"> 
					<div class="span8 offset2">
						<p><%= comment.content %></p> 
					</div>
				</div>
			<% end %>  
		<% else %>
			 <h5> ¡ An&iacutemate a escribir el primer comentario de esta pelicula !</h5>
		<% end %>  
	</div>
</div>

<div class="row-fluid">      
	<div class="span8 offset1"> 
    	<h2>Nuevo Comentario</h2>  
        <%= form_for [@pelicula, Comment.new] do |f| %>  
           	<p><%= f.hidden_field :name, :value => current_user.name  %>  </p> 
            <p><%= f.text_area :content, :rows => 10, :cols => 70 , :placeholder => "Escribe lo que quieras ...", :class => "input-xxlarge" %>  </p>  
            <p><%= f.submit %></p>  
        <% end %> 
	</div>
</div> 

<div class="row-fluid">    
	<div class="span1 offset2">
		<%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
    	<%= link_to 'Back', peliculas_path %>    
	</div>
</div>
