<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show">
   <div class="span12" > 
		<div class="row-fluid">
			<div class="span5 offset1">
            <img id="caratula" src="<%=  @pelicula.caratula %>" alt="Caratula Pelicula" height="300" width="300">
         </div>
         <div class="span6">
      	   <h1><%=  @pelicula.nombre %></h1>
   	  	   <h3> Sinopsis: </h3> 
   	  	   <h5><%= @pelicula.sinopsis %> </h5>
		      <h3>Saga: </h3> <h4><%= @pelicula.saga %> </h4> 
		      <h3>Fecha: </h3> <h4><%= @pelicula.fecha %> </h4>
		      <h3>Trailers:</h3> <h4><%= @pelicula.trailers %></h4>
		      <h3>Etiquetas: </h3> <h4><%= @pelicula.etiquetas %></h4>
		      <h3>Director: </h3> <h4><%= @pelicula.director %></h4>
		      <h3>Guionista: </h3> <h4><%= @pelicula.guionista %></h4>
		      <h3>Productores:  </h3> <h4><%= @pelicula.productores %></h4>
         </div>
      </div>
      <div class="row-fluid">
			<div class="span6">  
			   <h2>Nuevo Link</h2>  
               <%= form_for [@pelicula, Link.new] do |f| %>  
                  <h3><%= f.label :url %><%= f.text_field :url %></h3>  
                  <h3><%= f.label :idioma %><%= f.text_field :idioma %></h3> 
                  <h3><%= f.label :servidor %><%= f.text_field :servidor %></h3>  
                  <h3><%= f.label :online %><%= f.text_field :online %></h3>   
                  <h3><%= f.submit %></h3>  
               <% end %>  
		   </div>
         <div class="span6" >
		      <% if @pelicula.links.size > 0 %>  
              <h2>Links</h2>  
               <% for link in @pelicula.links %>  
                  <h3>url:</h3> <h4><%= link.url %></h4>  
                  <h3>Idioma:</h3> <h4><%= link.idioma %></h4> 
                  <h3>servidor:</h3> <h4><%= link.servidor %></h4> 
                  <h3>online:</h3> <h4><%= link.online %></h4> 
               <% end %>  
            <% end %>
         </div>
      </div>
      <div class="row-fluid">      
         <div class="span6" >
            <% if @pelicula.comments.size > 0 %>  
               <h2>Comments</h2>
               <% for comment in @pelicula.comments %>
                  <div class="span3 offset1"> 
					      <h4><%= comment.name %></h4> 
                  </div>
						<div class="span3 offset3">
						   <h4><%= comment.content %></h4> 
						</div>
  					<% end %>  
				<% end %>
          </div>
          <div class="span6"> 
              <h2>Nuevo Comentario</h2>  
              <%= form_for [@pelicula, Comment.new] do |f| %>  
                 <p><%= f.hidden_field :name, :value => current_user.name  %>  </p> 
                 <p><%= f.text_area :content, :rows => 10 %></p>  
                 <p><%= f.submit %></p>  
              <% end %> 
			</div>
      </div>

      <div class="span1 offset2">
         <%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
         <%= link_to 'Back', peliculas_path %>    
      </div>
