<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show" align ="center">
	<h1><%=  @pelicula.nombre %></h1>
</div>

<div class="row-fluid">
	<div class="span5 offset1">
    	<br><img src="<%=  @pelicula.caratula %>" alt="Caratula Pelicula" height="1000" width="900" class="img-rounded">
    </div>
    <div class="span6">
    	<div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h3> Sinopsis: </h3> 
   	  	    </div>
   	  	</div>
   	  	<div class="row-fluid">
   	  	    <div class="span4 offset1">
   	  	    	<h5><%= @pelicula.sinopsis %> </h5>
		    </div>
   	  	 </div>
   	  	 <div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h3> Saga: </h3> 
   	  	    </div>
   	  	    <div class="span4">
   	  	    	<h3><%= @pelicula.saga %> </h3>
		    </div>
   	  	 </div> 
   	 	 <div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h3> Año: </h3> 
   	  	    </div>
   	  	    <div class="span4">
   	  	    	<h3><%= @pelicula.fecha.year %> </h3>
		    </div>
   	  	 </div> 
   	  	 <div class="row-fluid">
   	  	    <div class="span2">
   	  	    	<h5> Trailer: </h5> 
   	  	    </div>
   	  	    <div class="span6">
   	  	    	<a href="<%= @pelicula.trailers  %>"> <%= @pelicula.trailers  %></a> 
		    </div>
   	  	 </div> 
   	  	 <div id="myCollapsibleExample">
   	  	 	<a href="#more_info" data-toggle="collapse"> M&aacutes informaci&oacuten</a>
   	  	 </div>  
		 <div id="more_info" class="collapse">
		 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h5><span>Director:</span> asd </h5> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<h5><%= @pelicula.director %> </h5>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h3> Guionista: </h3> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<h5><%= @pelicula.guionista %> </h5>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h3> Productores: </h3> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<h5><%= @pelicula.productores %> </h5>
		  	 	</div>
   	  	 	</div> 
   	  	 
	   	    	<h3>Etiquetas??: </h3> <h4><%= @pelicula.etiquetas %></h4>
		  	</div> 
         </div>
      </div>
      <div class="row-fluid">
			<div class="span6">  
			   <h2>Nuevo Link</h2>  
               <%= form_for [@pelicula, Link.new] do |f| %>  
                  <h3><%= f.label :url %><%= f.text_field :url %></h3>  
                  <h3><%= f.label :idioma %><%= f.text_field :idioma %></h3> 
                  <h3><%= f.label :servidor %><%= f.text_field :servidor %></h3>  
                  <h3><%= f.label :online %><%= f.text_field :online %></h3>   
                  <h3><%= f.submit %></h3>  
               <% end %>  
		   </div>
         <div class="span6" >
		      <% if @pelicula.links.size > 0 %>  
              <h2>Links</h2>  
					<div class="span3">
                  <div id="example" class="modal hide fade in" style="display: none; ">
                     <div class="modal-header">
                        <a class="close" data-dismiss="modal">×</a>
                        <h3><%= @pelicula.nombre %> </h3>
                     </div>
                     <div class="modal-body">
               			<% for link in @pelicula.links %>  
                  			<h3>url:</h3> <h4><%= link.url %></h4>  
                  			<h3>Idioma:</h3> <h4><%= link.idioma %></h4> 
                  			<h3>servidor:</h3> <h4><%= link.servidor %></h4> 
                  			<h3>online:</h3> <h4><%= link.online %></h4> 
               			<% end %>
                     </div>
                     <div class="modal-footer">
                        <a href="#" class="btn btn-success">Call to action</a>
                        <a href="#" class="btn" data-dismiss="modal">Cerrar</a>
                     </div>
                  </div>
                  <p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Mostrar Links</a></p>
               </div>
          </div>
          <% end %>
         </div>
      </div>
      <div class="row-fluid">      
         <div class="span6" >
            <% if @pelicula.comments.size > 0 %>  
               <h2>Comments</h2>
               <% for comment in @pelicula.comments %>
                  <div class="span3 offset1"> 
					      <h4><%= comment.name %></h4> 
                  </div>
						<div class="span3 offset3">
						   <h4><%= comment.content %></h4> 
						</div>
  					<% end %>  
				<% end %>
          </div>
          <div class="span6"> 
              <h2>Nuevo Comentario</h2>  
              <%= form_for [@pelicula, Comment.new] do |f| %>  
                 <p><%= f.hidden_field :name, :value => current_user.name  %>  </p> 
                 <p><%= f.text_area :content, :rows => 10 %></p>  
                 <p><%= f.submit %></p>  
              <% end %> 
			</div>
      </div> 

      <div class="span1 offset2">
         <%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
         <%= link_to 'Back', peliculas_path %>    
      </div>
