<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show">
   <div class="span12" > 
		<div class="row-fluid">
			<div class="span5 offset1">
            <img id="caratula" src="<%=  @pelicula.caratula %>" alt="Caratula Pelicula" height="300" width="300">
         </div>
         <div class="span6">
      	   <h1><%=  @pelicula.nombre %></h1>
   	  	   <h3> Sinopsis: </h3> 
   	  	   <h5><%= @pelicula.sinopsis %> </h5>
		      <h3>Saga: </h3> <h4><%= @pelicula.saga %> </h4> 
		      <h3>Fecha: </h3> <h4><%= @pelicula.fecha %> </h4>
		      <h3>Trailers:</h3> <h4><%= @pelicula.trailers %></h4>
		      <h3>Etiquetas: </h3> <h4><%= @pelicula.etiquetas %></h4>
		      <h3>Director: </h3> <h4><%= @pelicula.director %></h4>
		      <h3>Guionista: </h3> <h4><%= @pelicula.guionista %></h4>
		      <h3>Productores:  </h3> <h4><%= @pelicula.productores %></h4>
         </div>
      </div>
      <div class="row-fluid">
			<div class="span5 offset1">  
			   <h2>Nuevo Link</h2>  
               <%= form_for [@pelicula, Link.new] do |f| %>  
                  <h3><%= f.label :url %><%= f.text_field :url %></h3>  
                  <h3><%= f.label :idioma %><%= f.text_field :idioma %></h3> 
                  <h3><%= f.label :servidor %><%= f.text_field :servidor %></h3>  
                  <h3><%= f.label :online %><%= f.text_field :online %></h3>   
                  <h3><%= f.submit %></h3>  
               <% end %>  
			</div>
         <div class="span6" >
		      <% if @pelicula.links.size > 0 %>  
              <h2>Links</h2>  
               <% for link in @pelicula.links %>  
                  <p>url: <%= link.url %></p>  
                  <p>Idioma: <%= link.idioma %></p> 
                  <p>servidor: <%= link.servidor %></p> 
                  <p>online: <%= link.online %></p> 
               <% end %>  
            <% end %>
         </div>
      </div>
  

      <div class="span1 offset2">
      <%= link_to 'Edit', edit_pelicula_path(@pelicula) %> |
      <%= link_to 'Back', peliculas_path %>
      
      </div>
   </div>
   <div class="row-fluid" id="serie_comentarios">
      <div class="span4 offset2" >
         <h4>Comentarios: </h4> 
		  <%= @pelicula.comentarios %>
   </div>
  </div>		
