<div class="row-fluid">
	 <div class="span4 offset3">
		<h1>Listing series</h1>
	</div>	
</div>

<% @series.each do |series| %>

<div class="row-fluid" id="series_list">
  
   <div class="span1 offset2">
   		<img id="caratula" src="<%= series.caratula %>" alt="Caratula Serie" height="100" width="100">
   </div>
   <div class="span3">
   		<h2><%= link_to series.nombre, series %></h2>
   		Temporada : <%= series.temporada %>	
   </div>
   <div class="span1">
      <%= link_to 'Show', series %>
      <%= link_to 'Edit', edit_series_path(series) %>
      <%= button_to 'Destroy', series, confirm: 'Are you sure?', method: :delete %>
   </div>

</div>
	
<% end %>

<br />
<div class="row-fluid">
	<div class="span1 offset2">
		<%= link_to 'New Series', new_series_path %>
	</div>	
</div>	

