<% if user_signed_in? %>
	<div class="row-fluid">
		 <div class="span3 offset3">
			<h1>Listado de series</h1>
		</div>	
	</div>
	<div class="row-fluid">
		<div class="span1 offset2">
			<%= link_to 'New Series', new_series_path %>
		</div>	
	</div>	
	<% @series.each do |series| %>
		<div class="row-fluid" id="series_list">
	   		<div class="span1 offset2">
	   			<img id="caratula" src="<%= series.caratula %>" alt="Caratula Serie" height="100px" width="100px">
	  	 	   </div>
	   		<div class="span3">
	   			<h2><%= link_to series.nombre, series %></h2>
	   			Temporada :
	   		</div>
	   		<div class="span1">
	      		<%= link_to 'Show', series %>
	      		<%= link_to 'Edit', edit_series_path(series) %>
	      		<%= button_to 'Destroy', series, confirm: 'Are you sure?', method: :delete %>
	      		<% if current_user.seguirs.where(idp: series.id ).exists? %> 
				
				<p> La estas siguiendo </p>
    	
				<% else %>
	      		<%= form_for [current_user, Seguir.new] do |f| %>  
				<p> <%= f.hidden_field :idp, :value => series.id  %></p>  
				<p> <%= f.hidden_field :name, :value => series.nombre  %></p>
				<p><%= f.submit %></p> 
				<% end %>
				<% end %> 
	   		</div>
		</div>
	<% end %>
	<div class='apple_pagination'><%= will_paginate @series %></div>
	<br />


<% else %>

<div class="alert alert-error">
	
  <a class="close" href="/">×</a>
  <p>No tienes permisos para acceder a las <strong> Series </strong></p>
  <div class="alert-actions">
  	   <a class="btn small"  id="Jump" href="/">Inicia sesion</a> <a class="btn small" id="Jump" href="/terms">O con&oacutecenos antes!</a>
  </div>
</div>

	

<% end %>
