<% if user_signed_in? %>
	<div class="row-fluid">
		 <div class="span1 offset1">
			<h1>Listing series</h1>
		</div>	
	</div>

	<% @series.each do |series| %>
		<div class="row-fluid" id="series_list">
<<<<<<< HEAD
	   		<div class="span1">
	   			<img id="caratula" src="<%= series.caratula %>" alt="Caratula Serie" height="400" width="10">
	  	 	</div>
=======
	   		<div class="span1 offset2">
	   			<img id="caratula" src="<%= series.caratula %>" alt="Caratula Serie" height="100px" width="100px">
	  	 	   </div>
>>>>>>> 1a58f9d2220e31d147e5c5452b221885a34fb637
	   		<div class="span3">
	   			<h2><%= link_to series.nombre, series %></h2>
	   			Temporada :
	   		</div>
	   		<div class="span1">
	      		<%= link_to 'Show', series %>
	      		<%= link_to 'Edit', edit_series_path(series) %>
	      		<%= button_to 'Destroy', series, confirm: 'Are you sure?', method: :delete %>
	   		</div>
		</div>
	<% end %>
	<br />
	<div class="row-fluid">
		<div class="span1 offset2">
			<%= link_to 'New Series', new_series_path %>
		</div>	
	</div>	

<% else %>

<div class="alert alert-error">
	
  <a class="close" href="/">×</a>
  <p>No tienes permisos para acceder a las <strong> Series </strong></p>
  <div class="alert-actions">
  	   <a class="btn small"  id="Jump" href="/">Inicia sesion</a> <a class="btn small" id="Jump" href="/terms">O con&oacutecenos antes!</a>
  </div>
</div>

	

<% end %>
