<div class="row-fluid">
	<div class="span5 offset2">
		<form class="form-search2" action='search2' >
			<div class="input-append">
    			<input name="serie" type="text" class="search-query">
    			<button type="submit" class="btn" value='Search'>Search</button>
 			</div>
		</form>
	</div>
</div>

<% if @series_busqueda.empty? %>
	<div class="alert alert-error">
    	<a class="close" href="/">×</a>
    	<p>	<span>No hay resultados para su b&uacutesqueda</span><br/><br/></p>
    	<div class="alert-actions">
        	<a class="btn small" id="again" href="#">realiza una nueva b&uacutesqueda</a>
        	<a class="btn small" id="again" href="/series">O mira todas las que tenemos!!</a>
    	</div>
  	</div>
<% else %>
	<% @series_busqueda.each do |series| %>
		<br>
		<br>
   			<div class="row-fluid" id="serie_list">
	    	<div class="span1 offset2">
		   			<img id="caratula" src="<%= series.caratula %>" alt="Caratula Serie" height="100px" width="100px">
	      	</div>
	      	<div class="span4">
	   			<h2><%= link_to series.nombre, series %></h2>
		  	</div>
		    <div class="span2">
		    	<%= link_to 'Show', series %> |
		      	<%= link_to 'Edit', edit_series_path(series) %>
		      	<% if current_user.admin? %>
		      		<%= button_to 'Destroy', series, confirm: 'Are you sure?', method: :delete %>
		      	<% end %> 
		      	<% if current_user.seguirs.where(idp: series.id ).exists? %> 
					<%= button_to "Dejar de seguir", {:controller => :seguirs, :action => 'destroy', :id => series.id}, class: "btn btn-danger",:method => :delete%> 
					<p> La estas siguiendo </p>
	    		<% else %>
		      		<%= form_for [current_user, Seguir.new] do |f| %>  
						<p> <%= f.hidden_field :idp, :value => series.id  %></p>  
						<p> <%= f.hidden_field :name, :value => series.nombre  %></p>
						<p><%= f.submit %></p> 
					<% end %>
				<% end %> 
		   	</div>
	   	</div>
	</div>
	<% end %> 
<% end %>

	


