<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show" align ="center">
	<h1><%= @series.nombre %></h1>
</div>

<div class="row-fluid">
	<div class="span4 offset1">
		<img id="caratula" src="<%=  @series.caratula %>" alt="Caratula Serie" height="400px" width="400px">
    </div>
    <div class="span7">
    	<div class="row-fluid">
   	  	    <div class="span1">
   	  	    	<h3> Sinopsis: </h3> 
   	  	    </div>
   	  	</div>
   	  	<div class="row-fluid">
   	  	    <div class="span8 offset1">
   	  	    	<p><%= @series.sinopsis %> </p>
		    </div>
   	  	 </div>
   	   	 <div id="myCollapsibleExample">
   	  	 	<a href="#more_info" data-toggle="collapse"> M&aacutes informaci&oacuten</a>
   	  	 </div>  
		 <div id="more_info" class="collapse">
		 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4>Director: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.director %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Guionista: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.guionista %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Productores: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.productores %> </p>
		  	 	</div>
   	  	 	</div> 
		</div> 
	</div>
</div>

<div class="row-fluid">
	<div class="span5 offset1">
   <br>
		<div id="add_link" class="modal hide fade in" style="display: none; ">
             <div class="modal-header">
                   <a class="close" data-dismiss="modal">×</a>
                      <h3><%= @series.nombre %> </h3>
                </div>
                <div class="modal-body">
                  <%= form_for [@series, Capitulo.new] do |f| %>
	       	   		<h3><%= f.text_field :cap %></h3>
   	      	 		<h3><%= f.label :titulo %> <%= f.text_field :titulo %></h3>
      	    			<h3><%= f.label :temporada %> <%= f.text_field :temporada %></h3>
         	 			<h3><%= f.label :link %> <%= f.text_field :link %></h3>
          				<h3><%= f.submit %></h3>
						<% end %>
              </div>
                <div class="modal-footer">
                    <a class="close btn" data-dismiss="modal">Salir</a>
                </div>
            </div>
          <p><a data-toggle="modal" href="#add_link" class="btn btn-primary btn-large">¡ Agrega un nuevo capitulo !</a></p>
       </div>
	</div>
</div>		

<% if @series.capitulos.size > 0 %>
	
<% end %>

<% if @series.capitulos.size > 0 %>
<div class="row-fluid">			
	<div class="tabbable">
  		<ul class="nav nav-tabs">
	  		<% if @series.capitulos.size > 0 %>
	  			<% temp_max = 0 %>
  				<% @series.capitulos.each do |c| %>
	  				<% if c.temporada > temp_max %>
	  					<%  temp_max = c.temporada %>
	  				<% end %>
	    		<% end %>
    			<h1> TEMPORADAS TOTALES = <%= temp_max %> </h1>
	  			<% for i in 1..temp_max do %>
		  			<% all_c = [] %>
		  			<% @series.capitulos.select { |c| if c.temporada == i; all_c <<  c end  } %>
		  			<% if i == 1 %>
	  					<li class="active">
	  				<% else %>
	  					<li>
	  				<% end %>		
		    			<a href="#tab<%=i%>" data-toggle="tab">Temporada  <%= i %></a>
		    		</li>
	  			<% end %>  
	  		<% end %>
  		</ul>
  		<div class="tab-content">
  			<% for i in 1..temp_max do %>
		  			<% all_c = [] %>
		  			<% @series.capitulos.select { |c| if c.temporada == i; all_c <<  c end  } %>
		  			<% if i == 1 %>
	  					<div class="tab-pane active" id="tab1">
	  				<% else %>
	  					<div class="tab-pane" id="tab<%=i%>">
	  				<% end %>
	  				<% all_c.each do |capitulo| %>
	  					<% if capitulo.temporada == i %>
	  				  		<div class="row-fluid">
		  						<div class="span4">
									<h4>Cap <%= capitulo.titulo %></h4>
								</div>
								<div class="span3">
									<div id="example<%=i%>" class="modal hide fade in" style="display: none; ">  
										<div class="modal-header">  
											<a class="close" data-dismiss="modal">×</a>  
											<h3><%= capitulo.titulo %> </h3>  
										</div>  
										<div class="modal-body">  
											<h4><a href="<%= capitulo.link  %>" target="_blank"> <%= capitulo.link  %></a></h4>
										</div>  
										<div class="modal-footer">  
											<a href="#" class="btn btn-success">Call to action</a>  
											<a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
										</div>  
									</div>  
									<p><a data-toggle="modal" href="#example<%=i%>" class="btn btn-primary btn-large">Mostrar Links</a></p>  
								</div>
							</div>
					  	<% end %>
	  				<% end %>
	  				</div>
	  			<% end %>  
 		</div>
	</div>
</div>
<% end %> 


<div class="row-fluid">
	<div class="span10 offset1">      
	    <h2>Comentarios</h2>
	    <% if @series.coments.size > 0 %>  
	        <% for coment in @series.coments %>
	            <div class="row-fluid"> 
	            	<div class="span4 offset1"> 
						<h4><%= coment.name %></h4> 
			        </div>
			    </div>
			    <div class="row-fluid"> 
					<div class="span8 offset2">
						<p><%= coment.content %></p> 
					</div>
				</div>
			<% end %>  
		<% else %>
			 <h5> ¡ An&iacutemate a escribir el primer comentario de esta serie!</h5>
		<% end %>  
	</div>
</div>

<div class="row-fluid">      
	<div class="span8 offset1"> 
    	<h2>Nuevo Comentario</h2>  
         <%= form_for [@series, Coment.new] do |f| %>
         	<p><%= f.hidden_field :name, :value => current_user.name  %>  </p>
            <p><%= f.text_area :content, :rows => 10 %></p>
            <p><%= f.submit %></p>
         <% end %>
	</div>
</div> 

<div class="row-fluid">    
	<div class="span1 offset2">
    	<%= link_to 'Edit', edit_series_path(@series) %> |
		<%= link_to 'Back', series_index_path %>
    </div>
</div>
