<p id="notice"><%= notice %></p>

<div class="row-fluid" id="pelicula_show" align ="center">
	<h1><%= @series.nombre %></h1>
</div>

<div class="row-fluid">
	<div class="span4 offset1">
		<img id="caratula" src="<%=  @series.caratula %>" alt="Caratula Serie" height="400px" width="400px">
    </div>
    <div class="span7">
    	<div class="row-fluid">
   	  	    <div class="span1">
   	  	    	<h3> Sinopsis: </h3> 
   	  	    </div>
   	  	</div>
   	  	<div class="row-fluid">
   	  	    <div class="span8 offset1">
   	  	    	<p><%= @series.sinopsis %> </p>
		    </div>
   	  	 </div>
   	   	 <div id="myCollapsibleExample">
   	  	 	<a href="#more_info" data-toggle="collapse"> M&aacutes informaci&oacuten</a>
   	  	 </div>  
		 <div id="more_info" class="collapse">
		 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4>Director: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.director %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Guionista: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.guionista %> </p>
		  	 	</div>
   	  	 	</div> 
   	  	 	<div class="row-fluid">
   	  	   		<div class="span2">
   	  	   			<h4> Productores: </h4> 
   	  	   		</div>
   	  	   		<div class="span4">
   	  	   			<br><p><%= @series.productores %> </p>
		  	 	</div>
   	  	 	</div> 
		</div> 
	</div>
</div>

	<div class="row-fluid">
			<div class="span5 offset1">
				<h2>Nuevo Capitulo</h2>   
				<%= form_for [@series, Capitulo.new] do |f| %>
					<h3><%= f.text_field :cap %></h3>
	 				<h3><%= f.label :titulo %> <%= f.text_field :titulo %></h3>
  					<h3><%= f.label :temporada %> <%= f.text_field :temporada %></h3>
					<h3><%= f.label :link %> <%= f.text_field :link %></h3>  
 	 				<h3><%= f.submit %></h3>  
				<% end %>
			</div>
		</div>		
<div class="row-fluid">			
	<div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#lA" data-toggle="tab">Temporada1</a></li>
          <li><a href="#lB" data-toggle="tab">Temporada 2</a></li>
          <li><a href="#lC" data-toggle="tab">Temporada 3</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="lA">
            <p>Capitulos Temporada1</p>
          </div>
          <div class="tab-pane" id="lB">
            <p>Capitulos Temporada2</p>
          </div>
          <div class="tab-pane" id="lC">
            <p>Capitulos Temporada3</p>
          </div>
        </div>
</div>
				<% if @series.capitulos.size > 0 %>  
  					<h2> Capitulos </h2>
					<div class="row-fluid">
							<div class="span3">
								<h3> Temporada </h3>
							</div>
							<div class="span2">
								<h3> Episodio </h3>
							</div>
							<div class="span2">
								<h3> Título </h3>
							</div>
							<div class="span1">
								<h3> Links </h3>
							</div>
					</div>
  					<% for capitulo in @series.capitulos %>  
    					<div class="row-fluid">
							<div class="span1">
								<h4><%=capitulo.temporada %></h4>
							</div>
							<div class="span1">
								<h4><%= capitulo.cap %></h4>
							</div>
							<div class="span3">
								<h4><%= capitulo.titulo %></h4>
							</div>
							<div class="span3">
									<div id="example" class="modal hide fade in" style="display: none; ">  
										<div class="modal-header">  
											<a class="close" data-dismiss="modal">×</a>  
											<h3><%= capitulo.titulo %> </h3>  
										</div>  
										<div class="modal-body">  
											<h4><a href="<%= capitulo.link  %>" target="_blank"> <%= capitulo.link  %></a></h4>
										</div>  
										<div class="modal-footer">  
											<a href="#" class="btn btn-success">Call to action</a>  
											<a href="#" class="btn" data-dismiss="modal">Cerrar</a>  
										</div>  
									</div>  
								<p><a data-toggle="modal" href="#example" class="btn btn-primary btn-large">Mostrar Links</a></p>  
							</div>
						</div>
  					<% end %>  
				<% end %>
			</div>
		</div>

<div class="row-fluid">
	<div class="span10 offset1">      
	    <h2>Comentarios</h2>
	    <% if @series.coments.size > 0 %>  
	        <% for coment in @series.coments %>
	            <div class="row-fluid"> 
	            	<div class="span4 offset1"> 
						<h4><%= coment.name %></h4> 
			        </div>
			    </div>
			    <div class="row-fluid"> 
					<div class="span8 offset2">
						<p><%= coment.content %></p> 
					</div>
				</div>
			<% end %>  
		<% else %>
			 <h5> ¡ An&iacutemate a escribir el primer comentario de esta serie!</h5>
		<% end %>  
	</div>
</div>

<div class="row-fluid">      
	<div class="span8 offset1"> 
    	<h2>Nuevo Comentario</h2>  
         <%= form_for [@series, Coment.new] do |f| %>
         	<p><%= f.hidden_field :name, :value => current_user.name  %>  </p>
            <p><%= f.text_area :content, :rows => 10 %></p>
            <p><%= f.submit %></p>
         <% end %>
	</div>
</div> 

<div class="row-fluid">    
	<div class="span1 offset2">
    	<%= link_to 'Edit', edit_series_path(@series) %> |
		<%= link_to 'Back', series_index_path %>
    </div>
</div>
