<header>
	<div class="navbar navbar-fixed-top">  
    	<div class="navbar-inner">  
        	<div class="container-fluid">  
    		<!--   <img alt="logo" src="ull.jpg" /> --> 
    		
          		<div class="nav-collapse">  
            		<ul class="nav">  
        				<li class="active"><a href="#">Home</a></li>  
         				<li><%= link_to "Home",    root_path %></li>
              			<li><%= link_to "Help",    help_path %></li>
           			</ul>  
           			<% if user_signed_in? %>
						  <li>
							  Logged in as <%= current_user.name %>
						  </li>
						  <li>
							  <%= link_to('Logout', signout_path) %>  
					   		<p class="navbar-text pull-right">Logged in as <a href="#">username</a></p>  
             
						  </li>
					<% else %>
						<li>
						  <%= link_to('Login_twitter', signin_path)  %>
						  <%= link_to('Login_facebook', signin1_path)  %>
						</li>
					<% end %>
				</div><!--/.nav-collapse -->  
        	</div>  
      	</div>  
    </div>  
</header>